@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        build_active("li_1");
    })

    jQuery(function () {

        jQuery('#camera_wrap_4').camera({
            height: '600',
            loader: 'bar',
            pagination: false,
            thumbnails: false,
            hover: false,
            opacityOnGrid: false,
            imagePath: '../../assets/images/'
        });
    });
</script>

<header id="head">
    <div class="container">
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="../../assets/images/slides/thumbs/img1.jpg" data-src="../../assets/images/slides/img1.jpg">
                </div>
                <div data-thumb="../../assets/images/slides/thumbs/img2.jpg" data-src="../../assets/images/slides/img2.jpg">
                </div>
                <div data-thumb="../../assets/images/slides/thumbs/img3.jpg" data-src="../../assets/images/slides/img3.jpg">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->

<section class="news-box top-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="myLinks">

                <ul class="nav nav-stacked">
                    <li><a href="#">关注我们</a></li>
                    <li><a href="#">旺旺</a></li>
                    <li><a href="#">淘宝店铺</a></li>
                    <li><a href="#">FACEBOOK</a></li>
                    <li><a href="#">办公时间</a></li>
                </ul>
            </div>
            <div class="col-md-8" id="latest">
                <div class="title-box clearfix ">最新消息</div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪你是个猪</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mega luxury Villas Planing and Interior Design</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Commercial Shopping Mall Interior Design</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">SVN Independent & Duplex Houses</a></li>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">World wide IT park</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">North Arena SNT Township Interior Design</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="news-box top-margin">
    <div class="container" id="myFreight">
        <div class="row">
            <div class="col-md-6">
                <div class="title-box clearfix "><h2 class="title-box_primary">运费</h2></div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Singapore Township Complete Interior Design</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mega luxury Villas Planing and Interior Design</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Commercial Shopping Mall Interior Design</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">SVN Independent & Duplex Houses</a></li>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">World wide IT park</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">North Arena SNT Township Interior Design</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title-box clearfix "><h2 class="title-box_primary">体积重量</h2></div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Singapore Township Complete Interior Design</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mega luxury Villas Planing and Interior Design</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Commercial Shopping Mall Interior Design</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">SVN Independent & Duplex Houses</a></li>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">World wide IT park</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">North Arena SNT Township Interior Design</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>



@*<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
            <p><span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus musull dui.</span></p>
            <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
            <a href="#" title="read more" class="btn-inline " target="_self">read more</a>
        </div>


        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Clients</h2></div>
            <blockquote class="blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>

        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Projects</h2></div>
            <div class="list styled custom-list">
                <ul>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Singapore Township Complete Interior Design</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mega luxury Villas Planing and Interior Design</a></li>
                    <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Commercial Shopping Mall Interior Design</a></li>
                    <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">SVN Independent & Duplex Houses</a></li>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">World wide IT park</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">North Arena SNT Township Interior Design</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>*@


