@{
    Layout = "~/Views/Shared/_LayoutContran.cshtml";
}

<script>
    $(function () {
        build_active("li_2");
        build_con_active("li_con_2");
        getToRegion();
    });

    function getToRegion() {
        $.post('../ConTran/getToRegion', function (data) {
            if (data == 0) {
            }
            else {
                $('#div_Region').html(data);
            }
        });
    }

    function getDestination(region) {
        $.post('../ConTran/getDestination', { region: region }, function (data) {
            if (data == 0) {
            }
            else {
                $('#div_Destination').html(data);
            }
        });
    }

    function Region_Change() {
        var region = document.getElementById("region").value;
        getDestination(region);
    }

    function Destination_Change() {
        var region = document.getElementById("region").value;
        var destination = document.getElementById("destination").value;
        getConList(region, destination);
    }

    function getConList(region, destination) {
        var weightIdList = $('#weightIdList').val();
        $.post('../ConTran/getConList',
            { region: region, destination: destination, weightIdList: weightIdList },
            function (data) {

                if (data == 0) {
                }
                else {
                    $('#TB_ConList').html(data);
                }
            });
    }

    function inputConCarrier() {
        var weightIdList = $('#weightIdList').val();

        var conCarrierId = "";
        var radios = document.getElementsByName("optionsRadios");
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked == true) {
                i++;
                conCarrierId = radios[--i].value;
            }
        }
        if (conCarrierId.length > 0) {
            window.location = '../ConTran/ConAdress?weightIdList=' + weightIdList + '&conCarrierId=' + conCarrierId;
        }
        else {
            alert_layui("请选择一个区域，目的地以及承运商！", 2);
        }

    }
</script>

<div class="col-lg-8 col-md-8 col-sm-12 con_right">
    <div class="form-group form-group-lg col-lg-12 col-md-12 col-sm-12">
        <h1 class="ma_top_10 col-lg-10 col-md-10 col-sm-10"><span class="c_deepPink f_w_bold"> step 2：請選擇配送方式</span></h1>
    </div>

    <div class="form-group form-group-lg col-lg-12 col-md-12 col-sm-12 ta_cen">
        <form role="form">
            <input type="text" style="display:none" id="weightIdList" value="@ViewBag.weightIdList" readonly="readonly" />

            <div class="form-group">
                <div class="col-lg-4 col-md-4 col-sm-8">
                    <div id="div_Region" class="ma_top_30">
                        <select class=form-control>
                            <option>請選擇發往區域</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-8">
                    <div id="div_Destination" class="ma_top_30">
                        <select class=form-control>
                            <option>請選擇目的地</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="ma_top_30 col-lg-12 col-md-12 col-sm-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="50px" style="text-align:center;vertical-align:middle;">勾選</th>
                            <th width="50px" style="text-align:center;vertical-align:middle;">序號</th>
                            <th width="150px" style="text-align:center;vertical-align:middle;">派件公司</th>
                            <th width="100px" style="text-align:center;vertical-align:middle;">計費重量</th>
                            <th width="80px" style="text-align:center;vertical-align:middle;">費用</th>
                            <th style="text-align:center;vertical-align:middle;">備註&說明</th>
                        </tr>
                    </thead>
                    <tbody id="TB_ConList">
                        @*<tr>
                                <td style="text-align:center;vertical-align:middle;">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                </td>
                                <td style="text-align:center;vertical-align:middle;">序號</td>
                                <td style="text-align:center;vertical-align:middle;">派件公司</td>
                                <td style="text-align:center;vertical-align:middle;">計費重量</td>
                                <td style="text-align:center;vertical-align:middle;">費用</td>
                                <td style="text-align:left;vertical-align:middle;">
                                    奧斯卡大家昂克賽拉京東卡時間段克拉數據的卡拉是經典款
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>

            <input id="con_carrier" style="display:none" type="text">

            <div class="form-group form-group-lg col-lg-12 col-md-12 col-sm-12">
                <button type="button" class="btn btn-danger btn-lg" onclick="inputConCarrier();">使用此承運商發件</button>
            </div>
        </form>
    </div>

</div>


