@{
    Layout = "~/Views/Shared/_LayoutContran.cshtml";
}

<script>
    $(function () {
        build_active("li_2");
        build_con_active("li_con_2");
        getFreight();
        getCoupon();
    });

    function getCoupon() {
        $.post('../ConTran/getCouponList', function (data) {
            if (data == 0) {
            }
            else {
                $('#div_Coupon').html(data);
            }
            
        });
    }

    function lastFreight_Change() {
        var firstFreight = parseFloat($('#firstFreight').text());
        var lastFreight = firstFreight;
        document.getElementById("support_lab").style.display = 'none';
        document.getElementById("tax_lab").style.display = 'none';
        $('#support_lab').text("保價手續費：0");
        $('#tax_lab').text("包稅服務費為：0");
        if ($('#support_check').is(':checked') && $('#support_value').val().length > 0) {
            var support_value = parseFloat($('#support_value').val());
            lastFreight = lastFreight + support_value * 0.05;
            $('#support_lab').text("保稅價格為：" + (support_value * 0.05).toFixed(2));
            document.getElementById("support_lab").style.display = 'block';
        }
        if ($('#tax_check').is(':checked')) {
            lastFreight = lastFreight + 15;
            $('#tax_lab').text("包稅服務費為：15.00");
            document.getElementById("tax_lab").style.display = 'block';
        }
        if (document.getElementById("coupon").value.length > 0) {
            var coupon = document.getElementById("coupon").value;
            var coupon_num_strs = new Array(); //定义一数组 
            coupon_num_strs = coupon.split("?");
            var coupon_num = parseFloat(coupon_num_strs[0]);
            lastFreight = lastFreight - coupon_num;
        }
        $('#lastFreight').text(lastFreight.toFixed(2));
    }
    function getFreight() {
        var weightIdList = $('#weightIdList').val();
        var conCarrierId = $('#conCarrierId').val();
        //var userAdressId = $('#userAdressId').val();
        $.post('../ConTran/getFeightByConId',
            { weightIdList: weightIdList, conCarrierId: conCarrierId },
            function (data) {

                if (data.code == 0) {
                    $('#firstFreight').text(data.freight);
                    $('#font_helf').val(data.helf);
                    $('#lastFreight').text(data.freight);
                }
                else {
                    alert_layui(data.msg, 2);
                }
            });
    }
</script>

<script>
    function upPay() {
        var weightIdList = $('#weightIdList').val();
        var conCarrierId = $('#conCarrierId').val();
        var userAdressId = $('#userAdressId').val();
        var lastFreight = $('#lastFreight').text();
        var font_helf = $('#font_helf').val();
        var coupon = document.getElementById("coupon").value;
        var support = $('#support_lab').text();
        var tax = $('#tax_lab').text();

        var coupon_strs = new Array(); //定义一数组 
        coupon_strs = coupon.split("?");
        var coupon_id = coupon_strs[1];
        var order_coupon = coupon_strs[0];

        var support_strs = new Array(); //定义一数组 
        support_strs = support.split("：");
        var order_support = support_strs[1];

        var tax_strs = new Array(); //定义一数组 
        tax_strs = tax.split("：");
        var order_tax = tax_strs[1];

        var order_integral = 0;
        var order_kb = 0;

        $.post('../ConTran/getPopups',
            {
                weightIdList: weightIdList, conCarrierId: conCarrierId,
                userAdressId: userAdressId, lastFreight: lastFreight,
                font_helf: font_helf, coupon_id: coupon_id,
                order_coupon: order_coupon, order_support: order_support, 
                order_tax: order_tax, order_integral: order_integral, 
                order_kb: order_kb
            },
            function (data) {
                if (data == '') {
                }
                else {
                    layui.use('layer', function () { //独立版的layer无需执行这一句
                        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                        layer.open({
                            type: 1
                        , title: false //不显示标题栏
                        , area: '800px;'
                        , shade: 0.8
                        , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        , btn: ['前往付款', '之後付款']
                        , btnAlign: 'c'
                        , moveType: 1 //拖拽模式，0或者1
                        , content: data
                        , success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            btn.find('.layui-layer-btn0').attr({
                                onclick: 'toOrder(' + lastFreight + ')'
                                //, href: 'http://www.layui.com/'
                              , target: '_blank'
                            });
                        }
                        , btn2: function (index, layero) {
                            //按钮【按钮二】的回调

                            //return false 开启该代码可禁止点击该按钮关闭
                            window.location = '../ConTran/Order';
                        }
                        });
                    });
                }
            });
    }

    function toOrder(lastFreight) {
        window.location = '../ConTran/Order';
        //alert('数据库出差，暂停提交，请稍等');
        //var weightIdList = $('#weightIdList').val();
        //var conCarrierId = $('#conCarrierId').val();
        //var userAdressId = $('#userAdressId').val();
        //$.post('../ConTran/inputPackInfo',
        //    {
        //        weightIdList: weightIdList, conCarrierId: conCarrierId,
        //        userAdressId: userAdressId, lastFreight: lastFreight
        //    },
        //    function (data) {
        //        if (data.code == 0) {
        //            window.location = '../ConTran/Order';
        //        }
        //        else {
        //            alert_layui(data.msg, 2);
        //        }
        //    });
    }
</script>



<input type="text" style="display:none" id="weightIdList" value="@ViewBag.weightIdList" readonly="readonly" />
<input type="text" style="display:none" id="conCarrierId" value="@ViewBag.conCarrierId" readonly="readonly" />
<input type="text" style="display:none" id="userAdressId" value="@ViewBag.userAdressId" readonly="readonly" />
<input type="text" style="display:none" id="font_helf" value="" readonly="readonly" />

<div class="col-lg-8 col-md-8 col-sm-12 con_right pad_top_30">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="h3">您本次集運費用為 <span id="firstFreight" class="c_red f_w_bold">XX</span> 元</span>
    </div>

    <form role="form">
        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input id="support_check" type="checkbox" onchange="lastFreight_Change()">是否保價
                    </label>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <input type="text" class="form-control" id="support_value" placeholder="請輸入保價金額"
                       onchange="lastFreight_Change()">
            </div>
            <div class="checkbox col-lg-5 col-md-5 col-sm-6">
                <label id="support_lab" style="color:red;display:none">保價手續費：0</label>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="tax_check" onchange="lastFreight_Change()">是否包稅
                    </label>
                </div>
            </div>
            <div class="checkbox col-lg-6 col-md-6 col-sm-6">
                <label id="tax_lab" style="color:red;display:none">包稅服務費為：0</label>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-6">
                    <input type="text" class="form-control" id="tax_value" placeholder="請輸入包税金額"
                           onchange="lastFreight_Change()">
                </div>*@
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <div class="form-group col-lg-6 col-md-6 col-sm-6" id="div_Coupon">
                <select class=form-control>
                    <option>請選擇優惠券</option>
                </select>
            </div>
            <div class="checkbox col-lg-3 col-md-3 col-sm-6">
                <label for="name">使用優惠券</label>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <input type="text" class="form-control" id="name" placeholder="請輸入积分">
            </div>
            <div class="checkbox col-lg-6 col-md-6 col-sm-8">
                <label for="name">使用積分   可用積分為  <span class="c_red f_w_bold">XX</span></label>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <input type="text" class="form-control" id="name" placeholder="請輸入K幣">
            </div>
            <div class="checkbox col-lg-6 col-md-6 col-sm-8">
                <label for="name">使用K幣，您可使用的K幣為  <span class="c_red f_w_bold">XX</span></label>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <span class="h3">您本次集運還需支付 <span id="lastFreight" class="c_red f_w_bold">XX</span> 元</span>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <span class="h3">请按下宝贝链接，支付相应金额，如有任何问题，欢迎联系旺旺联系我们</span>
        </div>

        <div class="form-group form-group-lg col-lg-12 col-md-12 col-sm-12 pad_top_30">
            <button data-method="notice" type="button" class="btn btn-danger btn-lg"
                    onclick="upPay();">
                確認
            </button>
        </div>

    </form>

</div>
